<div class="row">
    <div class="col-xs-2 block" ng-repeat="o in order.orders | orderObjectBy: 'o.distance': true ">
        <img class="brand_img" ng-src="../images/{{o.beer.image}}.png">
        <h3 ng-bind="o.amount + 'X'" id="amount"></h3>
        <p ng-bind="o.beer.name"></p>
        <img src="../images/voetstapjes.png">
        <span class="distance" ng-bind="o.distance" ng-class="{'green' : o.distance < 500,
        'orange' : o.distance <= 1000 && o.distance > 500,
        'red' : o.distance > 1000 }"></span>
        <p ng-bind="o.user" class="name"></p>

        <div class="wait-for-serve" ng-if="o.distance >= 500 && !o.poured">
            <p>WAIT</p>
        </div>

        <div class="serve-now" ng-click="order.updateOrder(order)" ng-if="o.distance < 500 && !o.poured">
            <p>POUR NOW</p>
        </div>

        <div class="serve" ng-if="o.poured">
            <p>POURED</p>
        </div>
    </div>
</div>

