<header class="header" role="banner">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#/orders">ORDERS</a></li>
                <li><a href="#/users">USERS</a></li>
                <li><a href="#/beers">BEERS</a></li>
            </ul>
        </div>
    </nav>
</header>