body {
  background-color: #F3F3F3;
  font-family: 'Julius Sans One', sans-serif;
  //background-image: url("../images/beer.jpg");
}

h2, h3 {
  font-family: 'Archivo Black', sans-serif;
}

.main-container {
  margin-top: 150px;
}

.block {
  background-color: white;
  padding: 0px 20px 20px;
  margin: 10px;
  min-height: 250px;
  text-align: center;
  margin-bottom: 100px;

  p {
    font-size: 18px;
  }

  h3 {
    text-align: center;
    margin-top: 10px;
  }
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

table {
  background: white;
}

.navbar {
  background-color: white;
  border-color: white;
}

h2 {
  color: white;
}


footer {
  background-color: #004006;
  min-height: 25px;
  position: fixed;
  bottom: 0px;
  width: 100%;

  P {
    color: rgba(255, 255, 255, 0.42);
    text-align: center;
    font-weight: 100;
    margin-top: 5px;
  }
}

.brand_img {
  max-width: 200px;
  position: relative;
  margin-left: -24px;
  margin-top: -72px;
}

.distance {
  font-weight: bold;
  font-size: 24px; }

.name {
  margin-top: 10px;
  font-size: 16px !important;
}

.serve, .serve-now, .wait-for-serve {
  background-color: #f7b708;
  height:30px;
  margin: 0 -20px -20px;

  p {
    color: white;
    padding-top: 3px;
    font-weight: bold;
  }
}

.serve-now {
  background-color: green;
}

.wait-for-serve {
  background-color: blue;
}